{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <p>
        Agreement to participate in a study on individual and group decision making (<b>IRB # 3598</b>)
    </p>
    <p>
        You are invited to take part in a research project. Volunteering may not benefit you directly, but you will be
        helping us to understand the process of group decision-making. If you volunteer, you will earn a flat fee of $7
        and a bonus that will depend on your decisions and the decisions of others in this study. This study will take
        about 1.5 hours of your time. Volunteering for this study involves no more risk than what a typical person
        experiences on a regular day. Your involvement is entirely up to you. You may withdraw at any time for any reason.
        Please continue reading for more information about the study.
    </p>

    <p>
        <b>Study Leadership</b>: This research project is led by Rustam Romaniuc of the Claremont Graduate University.
        <br><br>

        <b>Purpose</b>: The purpose of this study is to collect data on the influence of group formation on individual
        and group behaviors. <br><br>

        <b>Eligibility</b>: To be in this study, you need to be registered with the Experimental Social Science Laboratory
        at the UC Irvine. <br><br>

        <b>Participation</b>: During the study, you will be asked to make a series of decisions that will affect your gains
        (bonus) as well as the gains (bonus) of other participants. You will indicate your choices on the computer in
        front of which you are seated, and this computer will calculate the gains you have realized in the course of the
        experiment. This study will take about 1.5 hours. <br><br>

        <b>Risks of participation</b>: The risks that you run by taking part in this study are minimal and there is no foreseeable
        risk or discomfort associated with this study. <br><br>

        <b>Benefits of participation</b>: We do not expect the study to benefit you personally. This study will benefit the
        researchers by allowing them to understand the influence of group formation on individual and group behavior.
        <br><br>

        <b>Compensation</b>: You will earn a flat fee of $7 and a bonus that will depend on your decisions and the decisions of
        others in this study. If you do not finish this study or if you decide to withdraw, then you will only earn the
        fixed amount of $7. <br><br>

        <b>Voluntary participation</b>: Your participation in this study is completely voluntary. You may stop or withdraw from
        the study at any time without it being held against you. Your decision whether or not to participate will have no
        effect on your current or future connection with anyone at Claremont Graduate University or with any other
        relevant institution. Since you will be part of a group with two other participants, your decision to withdraw
        from this study may have consequences in terms of participation for the other group members. <br><br>

        <b>Confidentiality</b>: Your individual privacy will be protected in all papers, books, talks, posts, or stories
        resulting from this study. We may use the data we collect for future research or share it with other
        researchers, but we will not reveal your identity with it. In order to protect the confidentiality of your
        responses, you will be given an ID number and your decisions will be recorded using only that information.
        What is more, the ID will be reshuffled over the course of this study thereby preventing the other participants
        from tracking your decisions for the duration of the study. Your name will not be used in any report, and we
        will not obtain any information linking your name to the ID number. <br><br>

        <b>Sponsorship</b>: This study is being paid for by the Computational Justice Lab at Claremont Graduate University.
        <br><br>

        <b>Further Information</b>: If you have any questions or would like additional information about this study, please
        contact Rustam Romaniuc at rustam.romaniuc@cgu.edu. The CGU Institutional Review Board has approved this
        project. If you have any ethical concerns about this project or about your rights as a human subject in
        research, you may contact the CGU IRB at (909) 607-9406 or at irb@cgu.edu. A copy of this form will be
        given to you if you wish to keep it. <br><br>

        <font color="blue"><b>Consent</b></font>: By clicking next means that you understand the information on this form, that someone has answered
        any and all questions you may have about this study, and you voluntarily agree to participate in it. <br><br>



    </p>

    </div>
</div>

