{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <p>Vous êtes invité.e à participer à un projet de recherche. Participer à cette expérience peut ne pas vous avantager
        directement, mais vous nous aiderez à comprendre le processus décisionnel de groupe. Si vous êtes volontaire à y
        participer, vous obtiendrez une rémunération fixe de X€ et un bonus qui dépendra de vos décisions et des décisions
        des autres participants à cette étude. Cette étude prendra environ 60 minutes de votre temps. Votre participation
        ne comporte pas plus de risques que ce à quoi une personne typique est exposée au cours d’une journée ordinaire.
        Votre participation dépend entièrement de vous. Vous pouvez vous retirer à tout moment pour n’importe quelle raison.</p>

    <p>
        <b>Responsable de l’étude </b>: Ce projet de recherche est dirigé par Dr. Andrea Guido, professeur associé à la BSB et chercheur au LESSAC.
        <br><br>

        <b>Objet de l’étude </b>: La présente étude vise à recueillir des données sur l’influence de la formation des
        groupes sur les comportements individuels et collectifs. <br><br>

        <b>Eligibilité </b>: Pour participer à cette étude, vous devez être inscrit au cours Economie & Psychologie du Management.<br><br>

        <b>Participation </b>: Au cours de l’étude, on vous demandera de prendre une série de décisions qui auront un
        impact sur vos gains (bonus) ainsi que sur les gains des autres participants. Vous indiquerez vos choix à
        l’ordinateur devant lequel vous êtes assis, et cet ordinateur calculera les gains réalisés au cours de l’expérience. <br><br>

        <b>Risques liés à la participation </b>: Les risques que vous courez en participant à l’étude sont minimes et il
        n’y a aucun risque ou inconfort prévisible associé à l’étude. <br><br>

        <b>Avantages liés à la participation </b>: Nous ne nous attendons pas à ce que l’étude vous profite personnellement.
        Cette étude profitera aux chercheurs en leur permettant de comprendre l’influence de la formation des groupes sur
        les comportements individuels et collectifs.
        <br><br>

        <b>Vos gains </b>: A la fin de l’expérience, vous aurez un défraiement fixe de X€ et un bonus qui dépendra de vos
        décisions et des décisions des autres participants à cette étude. Si vous ne terminez pas cette étude ou si vous
        décidez de vous retirer, vous ne gagnerez que le montant fixe de X€. <br><br>

        <b>Participation volontaire </b>: Votre participation à cette étude est entièrement volontaire. Vous pouvez arrêter ou
        vous retirer de l’étude à tout moment sans que cela soit retenu contre vous. Votre décision de participer ou non n’aura
        aucun effet sur vos liens actuels ou futurs avec quiconque à la BSB ou avec tout autre établissement. Comme vous ferez
        partie d’un groupe avec deux autres participants, votre décision de vous retirer de l’étude pourrait avoir des conséquences
        sur la participation des autres membres du groupe.<br><br>

        <b>Confidentialité </b>: Votre vie privée sera protégée dans tous les documents, livres, exposés, publications
        ou histoires découlant de cette étude. Nous pouvons utiliser les données que nous recueillons pour des recherches
        futures ou les partager avec d’autres chercheurs, mais nous ne révélerons pas votre identité. Afin de protéger la
        confidentialité de vos réponses, vous recevrez un numéro d’identification et vos décisions seront enregistrées en
        utilisant uniquement cette information. De plus, l’identification sera remaniée au cours de l’étude, ce qui empêchera
        les autres participants de suivre vos décisions pendant toute la durée de l’étude. Votre nom ne sera utilisé dans aucun
        rapport, et nous n’obtiendrons aucune information reliant votre nom au numéro d’identification.<br><br>

        <b>Financement de l’étude </b>: Cette étude est financée par le LESSAC.
        <br><br>

        <b>Informations complémentaires </b>: Si vous avez des questions ou souhaitez obtenir des renseignements
        supplémentaires sur cette étude, veuillez contacter Andrea Guido : andrea.guido@bsb-education.com  <br><br>

        <font color="blue"><b>Consentment </b></font>: En cliquant sur le bouton « Suivant » qui apparait sur l’écran de
        votre ordinateur, vous reconnaissez avoir pris connaissances des informations présentées ci-dessus et exprimez votre
        accord pour participer à l’étude. <br><br>



    </p>

    </div>
</div>

