{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Résumé de vos gains de la Partie 1 et de la Partie 2
{% endblock %}

{% block content %}
  
    Dans la Partie 1:
<ul>
    <li>
        vous avez placé {{ part_1_contribution }} jetons sur le compte collectif.
    </li>

    <li>
        Le nombre total de jetons sur le compte collectif était de {{ part_1_total_contribution }}.
    </li>

    <li>
        Le total de vos gains de la Partie 1 (comptes privés et collectifs) est de {{ part_1_payoff }} ECUs.
    </li>
</ul>

    In Part 2:
<ul>
    <li>
        Le total de vos gains de la Partie 2 (comptes privés et collectifs) est de {{ part_2_payoff }} ECUs.
    </li>
</ul>

Par conséquent, vos gains pour cette expérience sont {{ total }} ECUs ({{ amount_paid }} $). <br>
Merci de votre participation ! <br>

<br><b>Laissez-nous un commentaire</b>:
{% formfield player.comments %}
<br><br>
    {% next_button %}
{% endblock %}