{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Informations concernant les membres de votre <b>nouveau</b> groupe
{% endblock %}

{% block content %}
<h4>Vous êtes maintenant dans un nouveau groupe avec <b>deux autres participants</b>, indiqué comme Participant 1 et 2.

    Ci-dessous est indiqué le nombre de jetons placés sur le compte collectif par chacun des deux participants qui forment votre groupe ainsi que par vous-même :
</h4>
    <font size="4">
    <table class="table-condensed" style="margin-top:20px" align="center">
        <tr><td>Jetons que <b>vous</b> avez placés sur le compte collectif lors de la Partie 1 :<td><b>{{ player.contribution }} jetons</b></td></tr>

        <tr><td colspan="2"><hr/></td></tr>

        <tr><td>Jetons placé sur le compte collectif par les <b>deux autres participants</b> lors de la Partie 1 :</td><td></td></tr>

        {% for p in contributionstodisplay %}
        <tr><td align="right">Participant {{ forloop.counter }}</td><td align="center"> <b>{{ p }} jetons</b></td></tr>
        {% endfor %}
    </table>
    </font>

    <br>
        <p align="center"><font size="4" color="blue">La composition des groupes restera inchangée pour les 10 prochains périodes.</font></p>

    {% next_button %}

{% endblock %}
