{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Informations sur les membres de votre groupe
{% endblock %}

{% block content %}
        <h4>Vous êtes maintenant informé du nombre de jetons que chaque individu de votre groupe nouvellement formé avait
            placé sur son compte de groupe dans la Partie 1.</h4>
    <font size="4">
    <table class="table-condensed" style="width:600px; margin-top:20px" align="center">
        <tr><th>Participant</th><th>Jetons placés sur le compte collectif dans la Partie 1 </th></tr>
        SAY SOMEHTING ABOUT NEW IDS? NOT THE SAME AS RANKING STAGE OR PARTIE 1
        {% for p in contributionstodisplay %}
            <tr><td align="center">{{ forloop.counter }}</td><td align="center"> {{ p }} jetons</td></tr>
        {% endfor %}
    </table>
    </font>

    <br>
        <p align="center"><font size="4" color="blue">La composition des groupes restera inchangée pour les 10 prochains périodes.</font></p>

    {% next_button %}

{% endblock %}
