{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
{% endblock %}

{% block content %}
    <h4>
        <p style="text-align:justify; text-justify:inter-word;">
            <center>
            L’option choisie pour former les nouveaux groupes est l'<font color="blue"><b>option </b>
            {% if treatment == "T1" %}
            <b>A</b></font>.
            </center> <br>
        Ainsi, la composition des nouveaux groupes est basée sur <b>vos choix</b> ainsi que les choix des autres exprimés lors de la phase de classement.
            <!--That is, your assignment to a group of 3 is based on <b>your preferences</b> expressed during the <b>ranking
            stage</b> as well as on the rankings submitted by the other participants.-->
            {% else %}
            <b>B</b></font>.
            </center> <br>
        Ainsi, la composition des nouveaux groupes est décidée <b>par l’ordinateur</b> et z<b>non pas</b> par les <b>choix</b> que vous avez faits lors de la phase de classement.
            <!--That is, your assignment to a group of 3 is decided by the <b>computer</b> and therefore is not based on the
            rankings submitted in the previous stage.-->
            {% endif %}
        </p>
    </h4>



    {% next_button %}

{% endblock %}
