{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions Partie 3
{% endblock %}

{% block content %}

 <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

Dans cette partie de l’expérience, nous vous demandons de répondre aux questions ci-dessous. Il n’y a pas de bonne ou mauvaise réponse.
Merci de répondre aux questions de manière intuitive, sans prendre beaucoup de temps de réflexion.
<br>
Pour chaque ligne avec trois items présentés ci-dessous, merci d’indiquer les deux items qui vous semblent aller plus ensemble.


<table class = "triad" style="width:auto; margin-top:20px;border-collapse:separate; border-spacing:2.1em" align="center">
    <tr>
        <div class="1">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Mouette </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Ciel </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Chien </td>
          </div>
    </tr>
   <tr>

       <div class="2">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Noir </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Blanc </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Bleu </td>
          </div>
   </tr>
    <tr>
       <div class="3">
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Docteur </td>
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Einsegnant </td>
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Devoir </td>
          </div>
    </tr>
   <tr>

       <div class="4">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Pomme </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Orange </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Poire <br> </td>
          </div>
   </tr>
    <tr>
       <div class="5">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Chassures </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Bottes </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Chaussons <br> </td>
          </div>
    </tr>

    <tr>
       <div class="6">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Train </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Bus </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Rails <br> </td>
          </div>
    </tr>
   <tr>

       <div class="7">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Moniteur d'ordinateur </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Antenne </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Télévision <br> </td>
          </div>
   </tr>
   <tr>
       <div class="8">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Hôpital </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Banque </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Cinéma <br> </td>
          </div>
   </tr>
   <tr>
       <div class="7">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Carrotte </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Aubergine </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Lapin <br> </td>
          </div>
   </tr>
   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Nuage</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Vent</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Pluie <br></td>
      </div>
   </tr>

   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Panda</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Banane</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Singe</td>
      </div>
   </tr>

   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Chemise</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Chapeau</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Pantalons <br></td>
      </div>
   </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Cerf-volant</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Basketball</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Tennis <br></td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Agriculteur </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Maïs</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Pain <br></td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Shampoing</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Cheveux </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Barbe <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Pont </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Tunnel </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Autoroute <br> </td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Piano </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Violon </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Guitare <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Enfant </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Homme</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Femme <br></td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Facteur </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Policier </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Uniforme <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Lettre </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Timbre </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Carte postale <br> </td>
        </div>
    </tr>

    </table>

<form id="form">
<input type="hidden" name = "q_triad" id="id_q_triad">
</form>
<p align="center">

    <input type="button" id="button" class="btn btn-primary btn-large" style="margin-top: 10px;" value = "Suivant">
</p>

<script>
var limit = 2;

$('input.single-checkbox').on('change', function(evt) {
		a = $(this).parents();
    //alert(a[1]);
    var check = $(a[1]).find('input[type=checkbox]:checked').length;
    //alert("SUCA CHECK " + check);
   if(check > limit) {
       this.checked = false;
       alert("Pas plus de 2 options")
   }
});



var test = 0;
$(document).ready(function(){

$('#button').click(function(){

if ($("input[name ='vehicle']:checked").length < limit){
       alert("Choisissez 2 options pour chaque ligne")
   } else {

var out = $("input[name ='vehicle']:checked").map(function() {
		return this.value
}).get().join('');

if (out.length < 40){
	alert("Sélectionnez 2 options pour chaque ligne avant de continuer.")
} else {
    $('#id_q_triad').val(out);
    $('#form').submit();

}
	}


});

});



</script>

{% endblock %}
