{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions Part 3
{% endblock %}

{% block content %}

 <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

In this Part 3 of the experiment you will be asked a number of questions. There is no right or wrong answer.
Please answer them as best as you can.
In the following lists, among the three things listed together, please indicate which two of the three are most closely
related.

<table class = "triad" style="width:auto; margin-top:20px;border-collapse:separate; border-spacing:2.1em" align="center">
    <tr>
        <div class="1">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Seagull </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Sky </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Dog </td>
          </div>
    </tr>
   <tr>

       <div class="2">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Black </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> White </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Blue </td>
          </div>
   </tr>
    <tr>
       <div class="3">
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Doctor </td>
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Teacher </td>
           <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Homework </td>
          </div>
    </tr>
   <tr>

       <div class="4">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Apple </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Orange </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Pear <br> </td>
          </div>
   </tr>
    <tr>
       <div class="5">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Shoes </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Boots </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Slippers <br> </td>
          </div>
    </tr>

    <tr>
       <div class="6">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Train </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Bus </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Tracks <br> </td>
          </div>
    </tr>
   <tr>

       <div class="7">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Computer Monitor </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Antenna </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Television <br> </td>
          </div>
   </tr>
   <tr>
       <div class="8">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Hospital </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Bank </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Cinema <br> </td>
          </div>
   </tr>
   <tr>
       <div class="7">
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Carrot </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Eggplant </td>
          <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Rabbit <br> </td>
          </div>
   </tr>
   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Cloud</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Wind</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Rain <br></td>
      </div>
   </tr>

   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Panda</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Banana</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Monkey</td>
      </div>
   </tr>

   <tr>
      <div class="7">
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Shirt</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Hat</td>
         <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Pants <br></td>
      </div>
   </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Kite</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Basketball</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Tennis <br></td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Farmer</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Corn</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Bread <br></td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Shampoo</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Hair </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Beard <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Bridge </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Tunnel </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Highway <br> </td>
        </div>
    </tr>

    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Piano </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Violin </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Guitar <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Child </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Man</td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Woman <br></td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Postman </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Policeman </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Uniform <br> </td>
        </div>
    </tr>
    <tr>
        <div class="7">
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="1"> Letter </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="2"> Stamp </td>
            <td><input class="single-checkbox" type="checkbox" name="vehicle" value="3"> Postcard <br> </td>
        </div>
    </tr>

    </table>

<form id="form">
<input type="hidden" name = "q_triad" id="id_q_triad">
</form>
<p align="center">

    <input type="button" id="button" class="btn btn-primary btn-large" style="margin-top: 10px;" value = "Submit">
</p>

<script>
var limit = 2;

$('input.single-checkbox').on('change', function(evt) {
		a = $(this).parents();
    //alert(a[1]);
    var check = $(a[1]).find('input[type=checkbox]:checked').length;
    //alert("SUCA CHECK " + check);
   if(check > limit) {
       this.checked = false;
       alert("No more than 2 options")
   }
});



var test = 0;
$(document).ready(function(){

$('#button').click(function(){

if ($("input[name ='vehicle']:checked").length < limit){
       alert("Choose 2 options for each row")
   } else {

var out = $("input[name ='vehicle']:checked").map(function() {
		return this.value
}).get().join('');

if (out.length < 40){
	alert("Select 2 options for each row before proceeding")
} else {
    $('#id_q_triad').val(out);
    $('#form').submit();

}
	}


});

});



</script>

{% endblock %}
