{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Quiz de compréhension
{% endblock %}

{% block content %}
<p>Veuillez répondre à toutes les questions ci-dessous. Vous devez répondre correctement à chaque question afin de
    pouvoir poursuivre l’expérience. Vous avez au maximum 10 minutes pour répondre aux cinq questions.
    Veuillez lever la main si vous avez des questions.</p>
<br>
<br>
<ul>
    <li>
        <b>Question 1. : Supposons que vous gardez les 20 jetons sur votre compte individuel et que les autres membres de
            votre groupe gardent également tous leurs jetons sur leurs comptes individuels :</b>

            <div class="form-group required">
                <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                    <tr>
                        <td>Combien vous rapporte le compte collectif (en Ecus)?</td>
                        <td><input type="number" id="myNumber_0" value="" style="width: 4em;"></td>
                        <td><p id="check_0"></p></td>
                    </tr>

                    <tr>
                        <td>Combien vous rapporte votre compte individuel (en Ecus)?</td>
                        <td><input type="number" id="myNumber_1" value="" style="width: 4em;"></td>
                        <td><p id="check_1"></p></td>

                    </tr>
                    <tr>
                        <td>Quel est votre gain total (compte individuel et compte collectif, en Ecus)? </td>
                        <td><input type="number" id="myNumber_2" value="" style="width: 4em;"></td>
                        <td><p id="check_2"></p></td>
                    </tr>

                    <tr>
                        <td>Quel est le gain total (compte individuel et compte collectif) des autres membres du groupe (en Ecus)?</td>
                        <td><input type="number" id="myNumber_3" value="" style="width: 4em;"></td>
                        <td><p id="check_3"></p></td>
                    </tr>

                </table>
            </div>

    </li>

    <li>
        <b>Question 2. : Supposons que vous placez les 20 jetons dans le compte collectif et que les autres membres de
            votre groupe placent tous leurs jetons dans le compte collectif :</b>

            <div class="form-group required">
                <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                    <tr>
                        <td>Combien vous rapporte le compte collectif (en Ecus)? </td>
                        <td><input type="number" id="myNumber_4" value="" style="width: 4em;"></td>
                        <td><p id="check_4"></p></td>
                    </tr>

                    <tr>
                        <td>Combien vous rapporte votre compte individuel (en Ecus)? </td>
                        <td><input type="number" id="myNumber_5" value="" style="width: 4em;"></td>
                        <td><p id="check_5"></p></td>

                    </tr>

                    <tr>
                        <td>Quel est votre gain total (compte individuel et compte collectif, en Ecus)?</td>
                        <td><input type="number" id="myNumber_6" value="" style="width: 4em;"></td>
                        <td><p id="check_6"></p></td>
                    </tr>

                    <tr>
                        <td>Quel est le gain total (compte individuel et compte collectif) des autres membres du groupe (en Ecus)?</td>
                        <td><input type="number" id="myNumber_7" value="" style="width: 4em;"></td>
                        <td><p id="check_7"></p></td>
                    </tr>

                </table>
            </div>

    </li>

    <li>
        <b>Question 3. : Supposons que vous placez les 20 jetons dans le compte collectif et les autres membres de votre
            groupe placent zéro jetons dans le compte collectif :</b>

            <div class="form-group required">
                <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                    <tr>
                        <td>Combien vous rapporte le compte collectif (en Ecus)? </td>
                        <td><input type="number" id="myNumber_8" value="" style="width: 4em;"></td>
                        <td><p id="check_8"></p></td>
                    </tr>

                    <tr>
                        <td>Combien vous rapporte votre compte individuel (en Ecus)? </td>
                        <td><input type="number" id="myNumber_9" value="" style="width: 4em;"></td>
                        <td><p id="check_9"></p></td>

                    </tr>

                    <tr>
                        <td>Quel est votre gain total (compte individuel et compte collectif, en Ecus)?</td>
                        <td><input type="number" id="myNumber_10" value="" style="width: 4em;"></td>
                        <td><p id="check_10"></p></td>
                    </tr>

                    <tr>
                        <td>Quel est le gain total (compte individuel et compte collectif) des autres membres du groupe (en Ecus)? </td>
                        <td><input type="number" id="myNumber_11" value="" style="width: 4em;"></td>
                        <td><p id="check_11"></p></td>
                    </tr>

                </table>
            </div>

    </li>

    <li>
        <b>Question 4. : Supposons que vous gardez les 20 jetons dans votre compte privé (et donc vous placez zéro dans
            le compte collectif) et que les autres membres de votre groupe placent tous leurs jetons dans le compte collectif :</b>

            <div class="form-group required">
                <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                    <tr>
                        <td>Combien vous rapporte le compte collectif (en Ecus)? </td>
                        <td><input type="number" id="myNumber_12" value="" style="width: 4em;"></td>
                        <td><p id="check_12"></p></td>
                    </tr>

                    <tr>
                        <td>Combien vous rapporte votre compte individuel (en Ecus)?</td>
                        <td><input type="number" id="myNumber_13" value="" style="width: 4em;"></td>
                        <td><p id="check_13"></p></td>

                    </tr>

                    <tr>
                        <td>Quel est votre gain total (compte individuel et compte collectif, en Ecus)?</td>
                        <td><input type="number" id="myNumber_14" value="" style="width: 4em;"></td>
                        <td><p id="check_14"></p></td>
                    </tr>

                    <tr>
                        <td>Quel est le gain total (compte individuel et compte collectif) des autres membres du groupe (en Ecus)? </td>
                        <td><input type="number" id="myNumber_15" value="" style="width: 4em;"></td>
                        <td><p id="check_15"></p></td>
                    </tr>

                </table>
            </div>

    </li>
    <li>
        <b>Question 5. : Combien de décisions devrez-vous prendre lors de cette partie 1 de l’expérience?</b>
            <div class="form-group required">
                <table class='table table-bordered text-center' style='width: auto; margin: auto'>
                    <tr>
                        <td><input type="number" id="myNumber_16" value="" style="width: 4em;"></td>
                        <td><p id="check_16"></p></td>
                    </tr>
                </table>
            </div>
    </li>


</ul>

        <div>Number of right answers: <span id="nb_bonne_reponse"></span></div>
<p id="bravo"></p>
<div>
    <button class="btn btn-primary btn-large" id="bouton" style="visibility:hidden;">Next</button>
</div>
{% endblock %}

{% block scripts %}
    <script>
        //Prevent the implicit submission:
        var pref = "myNumber_";
        //iterate over the input
        for(var j = 0; boo = document.getElementById( pref + j ) ; j++){
            boo.addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                }
            });
        };
        //Every second, ask to check the player's input
        var myVar = setInterval(function(){ myTask() }, 1000);

        // define good answers
        var liste_bonne_rep = [0,20,20,20,36,0,36,36,12,0,12,32,24,20,44,24,1]

        // define function to check empty input
            function isEmpty(obj) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
        }

        // main function
        function myTask(){
        //iterate over the player's answer and update if good or not
        var pref_2 = "myNumber_";
        var pref_3 = "check_";
        for(var i = 0; boo = document.getElementById(pref_2 + i); i++){
            boo_2 = document.getElementById(pref_3 + i);
            answer = boo.value;
            if (answer.length == 0) {
                boo_2.innerHTML = "";
                }
            else if(answer == liste_bonne_rep[i]){
                boo_2.innerHTML = "Réponse correcte";
                boo_2.style.color = "green";
                }
            else {
                boo_2.innerHTML = "Mauvaise réponse";
                boo_2.style.color = "red";
                }
            }
        ;
        //update number of good answer
        var nb_b_rep = 0;
        var prefix = 'check_';
        for(var i = 0; el = document.getElementById(prefix + i); i++) {
            if(el.innerHTML == "Réponse correcte") {
                nb_b_rep += 1;
                }
            }
        ;
        //allow player to move if he has all the good answer
        document.getElementById("nb_bonne_reponse").innerHTML = nb_b_rep;
        if(nb_b_rep == 17){
        document.getElementById("bouton").style.visibility = "visible";
        document.getElementById("bravo").innerHTML = "Vous avez répondu correctement à toutes les questions. Vous pouvez maintenant passer à la page suivante en cliquant sur Suivant."}
        }
    </script>
{% endblock %}